
@use 'variaveis';


.hero {
    padding: 5.6vw;
    min-height: 98vh;
    background-image: url(../images/dune2.png);
    text-align: center;

    &__content {
        max-width: 640px;

        &__branding {
            padding-top: 60px;

            img{
                max-width: 640px;
            }
        }

        button {
            width: 240px;
            margin-top: 120px;
            height: 60px;
            font-size: 22px;
            font-family: VeniteAdoremus, sans-serif;
            color: variaveis.$corTextoPrincipal;
            background-color: variaveis.$corTextoSecundario;
            text-transform: uppercase;
            border-radius: 10px;
            border: none;
            cursor: pointer;
            
            &:hover {
                background-color: #e4750e7e;
            }
        }
    }
}