@use 'variaveis';

.synopsis {
    max-width: 1280px;
    margin: 0 auto;
    text-align: center;

    &__title {
        margin-top: 80px;
        font-size: variaveis.$title;
        margin-bottom: 12px;
        text-transform: uppercase;
        color: variaveis.$corTextoSecundario;
    }

    &__description {
        font-size:  22px;
        color: variaveis.$corTextoPrincipal;
    }
}